#map {
  height: 400px;
  width: 100%;
}
#about {
  margin-top: 5%;
}
.home{
  background: url("/assets/landing.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}