

.home{
    background: url("/assets/landing.jpg");
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 800px;
    position: relative;
    color: #fff;
}