.home{
    background: url("/assets/landing.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.input-group{
    width: 60% ;
    padding: 22px;
}
img{
    width:700px;
    float:right;
    margin-bottom:-81px;
}
h1{
    font-size: 3.1875rem ;
    padding: 20px ;
    color:#424036;
}
.loading{
    color: white;
    padding-top: 50px;
  }
@media(max-width: 768px){
    img{
        width: 220px;
        /* margin-bottom: -26px; */
     
     }

     .input-group{
         width: 100%;
     }
     h1{
        font-size:  2.1875rem ;
    }
    
  }